
<style>
  a {
    text-decoration: none;
    margin: 1px;
  }
</style>

<div style="display: flex; flex-direction: column; gap :2rem">

  <div style="display: flex; gap: 2rem; margin-top: 5rem; margin-left: 20rem;">
    
    <div style="display: flex; flex-direction: column; gap:3px">
      <label>Registeration</label>
      <div style="height: 40rem; width: 30rem; display: flex; flex-direction: column; align-items: center; justify-content: center; gap:3rem; border:1px solid black">
        <input type="text" style="width: 70%;" placeholder="useranme">
        <input type="text" style="width: 70%;" placeholder="email" >
        <input type="password" style="width: 70%;" placeholder="password">
      </div>
  
    </div>
  
    <div style="display: flex; flex-direction: column;gap:3px">
      <label>login</label>
      <div style="height: 30rem; width: 20rem; display: flex; flex-direction: column; align-items: center; justify-content: center; gap:3rem; border:1px solid black">
        <input type="text" style="width: 70%;" placeholder="useranme">
        <input type="password" style="width: 70%;" placeholder="password">
      </div>
  
    </div>
  </div>
  
  <div style="display: flex; gap: 20rem; ">
    <a href="https://www.google.com.eg" style="margin-left: 20rem ;">Google</a>
    <a href="https://www.facebook.com/"style="margin-left: 10rem ;">FaceBook</a>
  </div>

</div>
